In [4]:
import pandas as pd

## load data into notebook

In [3]:
raw_lines = open('rainfall_data.txt', 'r'). readlines()
raw_lines

['TOWN Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec Annual\n',
 'KAMPALA\n',
 'Long term Average 51 62 113 182 140 75 50 86 101 109 114 97 1,180.00\n',
 '2015 2.2 59.9 91.4 86.3 215.6 71.1 22 85.5 99.4 286.6 343.5 190.9 1,554.40\n',
 '2016 55 28 118.7 297 111.3 46.9 12 109.6 93.6 94.2 213.2 75.8 1,255.30\n',
 '2017 20.6 152.8 207.1 170.6 139.8 43.4 122.8 50.7 147.1 88.4 203.6 27.4 1,374.30\n',
 '2018 26.2 53.6 250.3 308.9 39.8 60.7 45.7 60.6 76.1 232.6 165 122.6 1,442.10\n',
 '2019 77.0 85.3 42.2 174.9 202.7 101.0 63.5 38.3 227.0 207.7 207.7 248.9 1,676.2\n',
 'KASESE\n',
 'Long term Average 31 40 116 152 106 54 31 84 64 123 101 68 970\n',
 '2015 0.8 15.2 35.6 113.4 80.1 74.1 19.7 21.9 122.2 85.3 137.5 49.3 755.1\n',
 '2016 18.2 5.8 72.8 141.4 86.5 114.1 17.7 151.2 45.3 150.5 123.3 21.1 947.9\n',
 '2017 3.7 53.3 88.4 26.3 71.1 14.6 22.7 74.9 132.9 147 127.4 12.3 774.6\n',
 '2018 16.5 32.8 150.8 200.8 100 31.4 12.1 47.8 76.9 99.3 117.7 40.4 926.5\n',
 '2019 47.7 81.9 48.8 93.7 129.6 137.8 34.5 20.4 84.6 242.9 242.9 17.8 1,182.6\n',
 'LIRA\n',
 'Long term Average 29 41 91 172 190 126 126 215 168 149 84 43 1,434.00\n',
 '2015 68.1 12 143.4 128.8 149.4 109.1 234 244.7 221.5 242.2 116.5 33 1,702.70\n',
 '2016 28.7 14.7 95 112.3 240.7 83.2 128.4 278.9 155.1 189.1 138.8 15.3 1,480.20\n',
 '2017 2.6 2.3 60.2 170.7 297.9 180.7 162.5 143.1 140.7 107.9 171.4 38.9 1,478.90\n',
 '2018 0.6 44.2 139.2 240.4 230.1 63.4 47.2 113.1 127.1 161.9 94.4 85.7 1,347.30\n',
 '2019 13.5 9.5 11.3 80.8 156.8 124.2 241.6 62.0 231.5 281.7 281.7 87.8 1,582.4\n',
 'MASINDI\n',
 'Long term Average 32 56 107 162 146 97 109 137 141 147 122 48 1,304.00\n',
 '2015 - 25.4 99.5 288 140.4 108.1 72.8 42.1 144 243.6 174.1 128.9 1,466.90\n',
 '2016 66 8 104.4 122.4 105.6 62 71.3 87.9 142.9 290.9 101.6 34.9 1,197.90\n',
 '2017 6.1 92.8 142.6 113.3 130.6 253.1 184.3 219.4 167.5 124 86.4 29.8 1,549.90\n',
 '2018 - 101.1 92.8 231 72.7 106.2 66.5 203 136.3 130.2 65 91.6 1,296.40\n',
 '2019 32.8 40.6 27.0 123.3 141.6 106.3 164.8 45.1 115.5 297.8 297.8 50.9 1,443.5\n',
 'MBARARA\n',
 'Long term Average 45 64 96 123 78 23 20 61 95 105 120 75 905\n',
 '2015 1.4 28.5 124.5 146.6 34 114 3.4 7.1 89.8 85.9 136.8 58.8 830.8\n',
 '2016 30.2 50.8 122.2 135 19.4 13.6 2.7 26.8 125.7 48.5 99.8 69.9 744.6\n',
 '2017 64.1 45.5 78.4 153.2 64.8 - 13.3 30.5 103.5 101.6 92.5 16.5 763.9\n',
 '2018 52.2 37.3 220.8 174.7 123.6 22.9 5.1 32.8 60.1 49.1 102.6 119.6 1,000.80\n',
 '2019 25.2 66.8 61.6 103.2 58.0 101.4 12.7 42.8 81.4 130.1 130.1 39.6 852.9\n',
 'SOROTI\n',
 'Long term Average 32 56 107 162 146 97 109 137 141 147 122 48 1,304.00\n',
 '2015 - 9 26 312.9 151.3 191 109.5 138.7 109.9 199 292.7 99.9 1,639.90\n',
 '2016 29.7 2.1 66.2 252.3 130.2 120.5 121.7 153.9 176.6 37.2 43.2 2.6 1,136.20\n',
 '2017 17.4 161.1 44.5 180.7 195.4 81.2 98.8 79.8 153.3 167.7 97.7 - 1,277.60\n',
 '2018 0.1 41.5 113.5 166.9 241.6 172.3 47.9 149.2 127.8 135.1 87.1 32.1 1,315.10\n',
 '2019 7.5 20.8 30.8 106.1 214.2 106.7 94.9 134.8 267.1 324.5 324.5 159.2 1,791.1\n',
 'TORORO\n',
 'Long term Average 55 78 138 225 224 108 96 118 111 125 109 78 1,465.00\n',
 '2015 0.2 27.8 61.7 59 61 103.4 98.3 66.7 123.6 201.9 139.2 75.6 1,018.40\n',
 '2016 28.1 33.5 55.2 246.1 124.4 146.3 65.4 81.4 42.6 118.7 102.9 35.2 1,079.80\n',
 '2017 79.4 110.3 121.5 112.1 304.8 153.9 92.4 108.2 203.3 132.4 194.6 16.4 1,629.30\n',
 '2018 43.6 15.9 247.9 312.7 195.9 153.5 25.7 73.8 99.1 85.1 225.9 143.7 1,622.80\n',
 '2019 59.1 47.4 65.6 120.1 217.2 192.4 75.1 41.2 65.4 330.3 330.3 140.9 1,685.0\n',
 'GULU\n',
 'Long term Average 16.5 29.4 84.7 166.2 175.6 152.1 168.6 237.8 174.6 186.9 109 37.4 1538.7\n',
 '2015 0 2.6 46.1 131 135 202.3 174.7 127.1 101 189 163.3 20 1292.1\n',
 '2016 4.1 11.4 48.4 292.3 189.4 107.7 103.3 205.4 177.1 199.7 120.4 8.2 1467.4\n',
 '2017 10.9 18.2 101.1 174.7 214.4 122.1 227.1 372.6 254.1 135.7 159.8 5.2 1795.9\n',
 '2018 0 29.8 132.4 230 215.2 73.3 69.3 170.3 99.7 223 247.3 73.7 1564\n',
 '2019 2.3 17.3 35.1 158.6 171.4 483.3 128.0 238.5 256.0 186.2 186.2 164.7 2027.6\n',
 'ARUA\n',
 'Long term Average 17.5 36.6 90.7 120.4 127.6 146.4 154.5 216.9 173 209.5 125.1 29.8 1448\n',
 '2015 14.6 30.1 83.5 124 91.8 157.3 231.8 102 136 182.2 136.1 6 1295.4\n',
 '2016 2.1 2.8 95.8 234 143 68.4 173.7 71.1 171.5 155.9 0 98.4 1216.7\n',
 '2017 1 14.3 71.1 69.7 128.2 146.7 242.9 238.7 222.9 213.4 165.1 0 1514\n',
 '2018 0 33.8 118.4 250.2 148.1 63.4 34.9 128.7 197 254.8 183.2 26.7 1439.2\n',
 '2019 7.1 7.7 76.0 128.9 144.3 206.7 198.4 213.0 317.1 223.1 223.1 72.7 1818.1\n',
 'KABALE\n',
 'Long term Average 65.4 81.1 112.8 139.8 97.6 28.5 20 54.4 99.2 111.1 117.4 88.6 1015.8\n',
 '2015 9.8 124.4 26.3 177.4 104.7 40.9 5.3 0.6 114.9 87.7 128.5 99.2 919.7\n',
 '2016 85.8 31.1 109.6 199.3 80 32.9 18.8 43.2 183.6 130.2 124.1 24 1062.6\n',
 '2017 40.4 50.1 113 70.1 75.6 4.7 35.5 51.8 119.3 174 153.4 54.3 942.2\n',
 '2018 87.3 114.6 131 293.4 95.2 37.9 4 74 30.3 88.4 77.5 67.3 1100.9\n',
 '2019 19.0 73.0 87.7 139.8 62.8 107.5 36.5 4.5 95.3 231.6 231.6 151.7 1241.0\n',
 'JINJA\n',
 'Long term Average 51 75 108 163 122 18 28 37 57 111 116 79 965\n',
 '2015 3.7 54.4 142.8 181.7 113.5 89.2 94.2 86.9 39.5 200.4 278.7 128.1 1413.1\n',
 '2016 51.6 91.5 102 231 143.4 17.2 91.2 84.1 98.6 73.6 99.9 29.2 1113.3\n',
 '2017 27 71.1 64.1 190.5 66.5 30.9 94 67.3 141.3 110.6 219.5 39.8 1122.6\n',
 '2018 22.4 38.8 221.1 203.5 47 0 43.4 139.3 23.7 91.4 198.1 109 1137.7\n',
 '2019 69.7 118.1 41.5 116.1 361.7 103.7 96.5 138.8 118.3 301.5 301.5 355.8 2123.2\n',
 'ENTEBBE\n',
 'Long term Average 86.7 84.4 184.5 264.4 253.8 116.2 72.1 77.8 79 127.6 171.7 120.6 1638.8\n',
 '2015 17.3 55.7 283.4 194.6 295.1 133.9 64.2 60.1 24.6 210.5 255.5 101.5 1696.4\n',
 '2016 123.9 20.9 204.7 404.6 213.3 122.5 3.9 87.4 148.9 47.3 109 134.5 1620.9\n',
 '2017 1.8 127.3 193.5 264.4 319.1 48.4 32.8 46.3 121 115.7 112.6 46.2 1429.1\n',
 '2018 46 115.1 186.1 292.5 152.5 100.8 62.4 52.7 70.4 215.1 157.7 245.7 1697\n',
 '2019 58.5 117.4 75.8 200.4 481.2 116.4 12.6 11.8 145.1 218.8 218.8 264.9 1921.7']

## parse data into a simple table

In [16]:
lines = [raw_line.split(' ') for raw_line in raw_lines if 'Average' not in raw_line]

datapoints = []

for i, line in enumerate(lines):
    
    if i == 0:
        # parse header row
        header = lines[i]

    elif len(line) == 1:
        # parse district name
        district = line[0].strip()

    else:
        # construct data point
        for j in range(1, len(line)):
            datapoint = {
                'year': line[0],
                'rainfall_mm': line[j].strip(),
                'period': header[j].strip(),
                'district': district
            }

            datapoints.append(datapoint)


rainfall = pd.DataFrame(datapoints)

In [17]:
rainfall

    district  period rainfall_mm  year
0    KAMPALA     Jan         2.2  2015
1    KAMPALA     Feb        59.9  2015
2    KAMPALA     Mar        91.4  2015
3    KAMPALA     Apr        86.3  2015
4    KAMPALA     May       215.6  2015
5    KAMPALA     Jun        71.1  2015
6    KAMPALA     Jul          22  2015
7    KAMPALA     Aug        85.5  2015
8    KAMPALA     Sep        99.4  2015
9    KAMPALA     Oct       286.6  2015
10   KAMPALA     Nov       343.5  2015
11   KAMPALA     Dec       190.9  2015
12   KAMPALA  Annual    1,554.40  2015
13   KAMPALA     Jan          55  2016
14   KAMPALA     Feb          28  2016
15   KAMPALA     Mar       118.7  2016
16   KAMPALA     Apr         297  2016
17   KAMPALA     May       111.3  2016
18   KAMPALA     Jun        46.9  2016
19   KAMPALA     Jul          12  2016
20   KAMPALA     Aug       109.6  2016
21   KAMPALA     Sep        93.6  2016
22   KAMPALA     Oct        94.2  2016
23   KAMPALA     Nov       213.2  2016
24   KAMPALA     Dec        75.8  2016
25   KAMPALA  Annual    1,255.30  2016
26   KAMPALA     Jan        20.6  2017
27   KAMPALA     Feb       152.8  2017
28   KAMPALA     Mar       207.1  2017
29   KAMPALA     Apr       170.6  2017
..       ...     ...         ...   ...
750  ENTEBBE     Oct       115.7  2017
751  ENTEBBE     Nov       112.6  2017
752  ENTEBBE     Dec        46.2  2017
753  ENTEBBE  Annual      1429.1  2017
754  ENTEBBE     Jan          46  2018
755  ENTEBBE     Feb       115.1  2018
756  ENTEBBE     Mar       186.1  2018
757  ENTEBBE     Apr       292.5  2018
758  ENTEBBE     May       152.5  2018
759  ENTEBBE     Jun       100.8  2018
760  ENTEBBE     Jul        62.4  2018
761  ENTEBBE     Aug        52.7  2018
762  ENTEBBE     Sep        70.4  2018
763  ENTEBBE     Oct       215.1  2018
764  ENTEBBE     Nov       157.7  2018
765  ENTEBBE     Dec       245.7  2018
766  ENTEBBE  Annual        1697  2018
767  ENTEBBE     Jan        58.5  2019
768  ENTEBBE     Feb       117.4  2019
769  ENTEBBE     Mar        75.8  2019
770  ENTEBBE     Apr       200.4  2019
771  ENTEBBE     May       481.2  2019
772  ENTEBBE     Jun       116.4  2019
773  ENTEBBE     Jul        12.6  2019
774  ENTEBBE     Aug        11.8  2019
775  ENTEBBE     Sep       145.1  2019
776  ENTEBBE     Oct       218.8  2019
777  ENTEBBE     Nov       218.8  2019
778  ENTEBBE     Dec       264.9  2019
779  ENTEBBE  Annual      1921.7  2019

[780 rows x 4 columns]

## save data as a csv file

In [18]:
rainfall.to_csv('rainfall_dataset.csv')